
.hover_link_style a:link{
	color:#000000; 
	/*text-decoration:underline; */
	text-decoration:none;
} 

.hover_link_style a:hover{
	color:#e16317; 
	text-decoration:none;  
} 
.layout{
	width: 100%;
	max-width: 1080px;
	min-width: 640px;
	max-height: 100%;
	min-height: 100%;
	/*max-width: 640px;
	min-width: 320px;*/
	margin: 0 auto;
	background: #Fff;
	padding: 15px;
	display: block;
}
.banner ul li a img{
	width: 100%;
}
.unslider {
	overflow: auto;
	margin: 0;
	padding: 0;
	
	position: relative;
}
.unslider-nav{
	position: absolute;
	width: 100%;
	bottom: 2%;
}

.sign-up-bg{
	background: url('img/sign_up.png') no-repeat;
	/*background: #0e0e0e;*/
	background-size: cover;
	width: 100%;
	height: 120px;
	position: relative;
	text-align: center;
}

.gradual{       
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(yellow), to(green));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.shadow1{           
	text-shadow: 5px 5px 5px gray;
}


.txt_content_outer {

	margin:0 auto;
}

.txt_title{
	color: #1652a0;
	font-size: 24px;
	font-weight:bold;
	font-family:"Times New Roman",Georgia,Serif;
}
.txt_content{
	color: #1b1b1b;
	font-size: 16px;
	margin-bottom:8px;
}
.txt_content2{
	color: #e16317;
	font-size: 16px;
	margin-bottom:10px;
	font-weight:bold;
}
.txt_content_title{
	color: #1b1b1b;
	font-size: 30px;
	position: relative;
	text-align: center;
	margin: 50px;
}
.txt_content_title2{
	color: #1b1b1b;
	font-size: 30px;
	position: relative;
	text-align: center;
	margin-top: 50px
}
.txt_content_sub_title{
	color: #a6a8ad;
	font-size:16px;
	position: relative;
	text-align: center;
}
.project_txt_title{
	color: #4cbf9c;
	font-size: 24px;
	font-weight:bold;
	font-family:"Times New Roman",Georgia,Serif;
}
.img_outer{
	white-space:nowrap;/*内容横向排列不换行*/ 
	overflow-x:auto;　　overflow-y:hidden;/*隐藏溢出部分。横向滚动条自动出现，纵向滚动条隐藏*/ 
	text-align: center;
	
}
.project_img_size{
	width: : 60px;
}
.project_img{
	width: : 100%;
}
.project_img_outer{
	white-space:nowrap;/*内容横向排列不换行*/ 
	overflow-x:auto;　　overflow-y:hidden;/*隐藏溢出部分。横向滚动条自动出现，纵向滚动条隐藏*/ 
	text-align: center;
}
.project-content-bg {
	background: #f6f6f6;
	padding-left:20px;
	padding-right:20px;
}
.project_img_inner{
	width: 95%;
	position: relative;
	text-align: center;
}
.content-box{
	position: relative;
	width: 100%;
	text-align: center;
}
.txt_scan{
	color: #363636;
}
.banner-img{
	margin:0 auto;
	height: 50%
}

.download-bg{
	/*background-size: cover;*/
	width: 100%;
	position: relative;
	bottom: 40px;
	text-align: center;
}

.footer_txt_outer{
	background-size: cover;
	width: 100%;
	position: relative;
	text-align: center;
	top: 22px;
	display: table;
}
.footer-text-box{
	/*border: 1px solid red; */
	display: table-cell;
	text-align: center;
	width:auto;
	/*display: inline-block; */
	
}
.sign_up_outer{
	/*white-space:nowrap;
	overflow-x:auto;　　overflow-y:hidden;隐藏溢出部分。横向滚动条自动出现，纵向滚动条隐藏 
	text-align: center;*/
	margin-top: 66px;
}
.sign-up-bg{
	background-size: cover;
	width: 100%;
	position: relative;
	text-align: center;
}

.layout_news{
	float: left;
	width: 25%;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	padding: 0 14px 2px 14px;
	margin-top: 20px;
}
.news_container_outer {
	display: flex;
	align-items: center;
	
}
.news_container {
	display: flex;
	align-items: center;
	width: 33%;
	padding: 20px;
}
.news_time_container {
	display: flex;
	align-items: center;
	padding-left: 15px;
}
.news_txt_title {

	padding-left: 15px;
	color: #1b1b1b;
	font-size: 15px;
}
.news_txt_content {

	padding-left: 15px;
	padding-top: 6px;
	padding-bottom:6px;
	color: #666666;
	font-size: 13px;
}
.news_txt_time {

	color: #b4b4b4;
	font-size: 12px;
}
.img_news{
	width: 100px;
	height: 100px;
	position: relative;
	text-align: center;
}
.txt_news{
	display: flex;
	color: #1b1b1b;
	font-size: 16px;
}
.footer_txt {
	color: #FFFFEF;
	font-size: 14px;
	line-height: 25px;
	margin: 0px auto 0px;
}
.download_url_txt {
	color: #2a58ac;
	font-size: 24px;
	font-weight:bold;
	font-family:"Times New Roman",Georgia,Serif;
}
.item-box-icon{ 
	/*display: inline-block;      */
	position: absolute;
	text-align: center;
	right: 190px;
	top: -20px;
} 